@charset "UTF-8";
/* CSS Document */

a{
	text-decoration: none;
	  color:#FFF;
	  -o-transition:.5s;
	  -ms-transition:.5s;
	  -moz-transition:.5s;
	  -webkit-transition:.5s;
	  transition:.5s;
}

a:hover{ 
	color:red; 
	text-decoration: none;

}

body{
	background-color: #000;
}

#bar{
	background-color:#000;
	padding: 30px;	
}

.container {
	margin: auto;
}

#bigheader{
	padding: 60px;
	font-size: 185px;
	color: #FFF	;
	font-family:'Wire One', sans-serif;
}

#history{
	color:#FFF;
	width: 700px;	
}

img{
	margin: 5px 0; 
 }
 
li{
	text-decoration: none;
	list-style:	none;
}

nav {
	margin: 0 80px 5px 0;
	left: 1200px;
	font-size:20px;
	float: right;
	
	
}
nav li{
	padding: 10px;
	list-style: none;
	color:#000;
	 
 }
 
 p{
	font-size: 14px;
	 
 }
 
 .logo{
	 position: relative;
	 z-index: 1;
 }
 

 

 
 

 



